<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Box inertia -->
  <xacro:macro name="inertial_box" params="mass x y z">
    <inertial>
      <origin xyz="${x/2} 0 ${z/2}" rpy="0 0 0"/>
      <mass value="${mass}"/>
      <inertia
        ixx="${(1/12)*mass*(y*y + z*z)}"
        iyy="${(1/12)*mass*(x*x + z*z)}"
        izz="${(1/12)*mass*(x*x + y*y)}"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </xacro:macro>

  <!-- Cylinder inertia -->
  <xacro:macro name="inertial_cylinder" params="mass radius length">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="${mass}"/>
      <inertia
        ixx="${(1/12)*mass*(3*radius*radius + length*length)}"
        iyy="${(1/12)*mass*(3*radius*radius + length*length)}"
        izz="${(1/2)*mass*(radius*radius)}"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </xacro:macro>

</robot>

